@model EmployeesViewModel
@{
    ViewData["Title"] = "Current Employees";
}

<h1 class="text-center" style="font-size: 36px;">All Employees</h1>
<div class="container mt-4">
    <div class="row" style="background-color: black; color: white; text-align: center; font-size: 18px;">
        <div class="col" style="padding: 10px 0;">Name</div>
        <div class="col" style="padding: 10px 0;">Hire Date</div>
        <div class="col" style="padding: 10px 0;">Salary</div>
        <div class="col" style="padding: 10px 0;">Position</div>
        <div class="col" style="padding: 10px 0;">Department</div>
    </div>
    @foreach (var employee in Model.Employees)
    {
        <div class="row" style="text-align: center; border-bottom: 1px solid #ccc; font-size: 16px;">
            <div class="col" style="padding: 10px 0;">@employee.Name</div>
            <div class="col" style="padding: 10px 0;">@employee.HireDate.ToString("dd.MM.yyyy 'r.' HH:mm:ss")</div>
            <div class="col" style="padding: 10px 0;">@employee.Salary.ToString("N2")</div>
            <div class="col" style="padding: 10px 0;">@employee.Position</div>
            <div class="col" style="padding: 10px 0;">@employee.DepartmentName</div>
        </div>
    }

    @await Html.PartialAsync("Partials/_Pagination", Model.Pagination)
</div>